/*@import '~antd/dist/antd.css';*/
@import "~bootstrap-icons/font/bootstrap-icons.css";

.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#myMap {
    text-align: center;
    height: 100vh;
    width: 100vw;
}